<h1>This is the show view on guests</h1>
    <p> You are looking at <%= @guest.name %>' page </p> <br>
<ul>
    <li> List of episodes where <%= @guest.name %> has appeared <br><br>
        <% @guest.appearances.each do |guest_appearance| %>
            Episode number: <%= guest_appearance.episode_id %>. 
            Aired on: <%= link_to guest_appearance.episode.date, episode_path(guest_appearance.episode_id) %>,
            with a <%= guest_appearance.rating %> 🌟 as rating<br>
        <% end %>
    </li>
</ul>