<div style="padding: 200px 40px;">
    
    <% if flash[:errors] %>
        <ul style="color: red">
            <% flash[:errors].each do |error| %>
            <li> <%= error %></li>
            <%end %>
        <% end %>
    </ul>

    <span style="text-align: center;">
    
        <h2> Let's create a New Appearance</h2>
        <%= form_for @appearance do |f| %>
        <%= f.label :guest_id, "Guest:" %>
        <%= f.collection_select :guest_id, Guest.all, :id, :name %> <br>
        <%= f.label :episode_id, "Episode:" %>
        <%= f.collection_select :episode_id, Episode.all, :id, :episode_info %> <br>
        <%= f.label :rating %>
        <%= f.number_field :rating %> <br><br>
        <%= f.submit "Appearance" %>
        <% end %>
    </span>

</div>