<div class="container">
    <div class="row">
        <div class="col">
            <h1> Create a new appearance </h1>
            
            <%= form_for @appearance do |f| %>
            <%= f.label "Choose existing guest"%>
            <%= f.collection_select :guest_id, Guest.all, :id, :name %>
            <br>
            <%= f.label "Choose existing episode"%>
            <%= f.collection_select :episode_id, Episode.all, :id, :date %>
            <br>
            <%= f.label :rating %>
            <%= f.number_field :rating, {min:1, max:10} %>
            <br>
            <%= f.submit %>
            <% end %>

        </div>
    </div>
</div>

<%# Choose an existing guest from a select dropdown
Choose an existing episode from a select dropdown
Enter a numeric rating
Submit the form %>


<%# <%= collection_select(:person, :city_id, City.all, :id, :name) %> 