<h1> Create a New Appearance! </h1>

<hr>

<h3> <%= link_to "All Guests", "/guests/" %> </h3>

<h3> <%= link_to "All Episodes", "/episodes/" %> </h3>

<h3><%= link_to "Click here for The Late Show", "/" %> </h3>

<!-- Do not use buttons! "That's a pet peeve of mine"-Eric LOL. -->

<!-- I added the link_tos for a better user experience because as a user, I want to easily navigate through the pages. -->

<!-- The "/" path is localhost:3000 -->

<hr><br>
<%= form_for(@appearance) do |f| %>
    <strong> <%= f.label :guest %> </strong>
    <%= f.collection_select :guest_id, Guest.all, :id, :name %> <br>
    <br>
    <strong> <%= f.label :episode %> </strong>
    <%= f.collection_select :episode_id, Episode.all, :id, :date %> <br>
    <br>
    <strong> <%= f.label :rating %> </strong>
    <%= f.collection_select :rating, (1..5).to_a, :itself, :itself %> <br>  

    <%# Rating syntax is from Eric's town hall on Rails. I am unclear on where flash and errors are implemented, but I will know in time. %>
    <%# I also need to figure out how to validate the unique appearance of each guest per episode. %>
    <%# Possible syntax: "validates :guest_id, uniquness: true" ??? %>

    <br>
    <%= f.submit %>
<% end %>
<br>
<br>


<!-- From the README: 
    
- A user can fill out a form to create a new Appearance. They can:

- Choose an existing guest from a select dropdown
- Choose an existing episode from a select dropdown
- Enter a numeric rating
- Submit the form

After submitting the form, the user should be redirected to the selected episode's show page. -->

