<h1> Appearances </h1>

    <% if @errors %>
    <% @errors.each do |error|%>
    <p style= "color: red"> <%= error %></p>
    <% end %>
    <% end %>


    <%= form_for @appearances do |f| %>
    <%= f.label :episode_id, "Episode: " %>
    <%= f.collection_select :episode_id, @episodes, :id, :date %> <br>
    <%= f.label :guest_id, "Guest:" %>
    <%= f.collection_select :guest_id, @guests,  :id, :name %> <br>
    <%= f.label :rating %>
    <%= f.number_field :rating %> 

    <%= f.submit "Create Appearance" %> 

<% end %>


#New create appearance form 
