<h1>Creat New Appearance</h1>

<%#not sure how below flash works%>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <div style="color:red"><%= error %></div>
    <% end %>
  </ul>
<% end %>

<div>
<%= form_for @appearance do |f| %>
<p><%=f.label "Aired Date:" %> <%=f.collection_select(:episode_id, @episodes, :id, :date) %></p>
<p><%=f.label "Name of Guest:" %> <%=f.collection_select(:guest_id, @guests, :id, :name) %></p>
<p><%=f.label "Rating (1-5):" %> <%=f.number_field :rating %></p>
<p><%=f.submit "Submit"%></p>
<% end %>

</div>
