<h1> Appearance Form </h1>

<%= form_for @new_appearance do |f|%>
<%= f.label "Episode" %>
<%= f.collection_select :episode_id, Episode.all, :id, :number %>
<br><br>
<%= f.label "Guest" %>
<%= f.collection_select :guest_id, Guest.all, :id, :name %>
<br><br>
<%= f.label "Rating"%>
<%= f.number_field :rating, in: 1..10 %>
<br><br>
<%= f.submit "Submit"%>
<%end%>